<div class="screen">
    <div class="card">
        <div class="left">
            <div class="title"><p style="margin-bottom: 5px;">Network Vision</p><p style="margin-top: 5px;font-weight: 700;">Installation</p></div>
            <div class="road">
                <ul>
                    <li *ngFor="let section of sidebar;index as index" [ngClass]="{active: sections[active].sidebar == section}">{{ section }}</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <section *ngFor="let section of sections;index as index" [ngClass]="{active: index == active}">
                <h1>{{ section.title }}</h1>
                <div *ngFor="let item of section.items">
                    <div *ngIf="item.type == 'text'">
                        <p class="desc" *ngFor="let text of item.values;index as index">{{ text }}</p>
                    </div>
                    <div *ngIf="item.type == 'bigtext' && item.values.length > 0 && item.values.length <= 2">
                        <p class="title">{{ item.values[0] }}</p>
                        <p class="desc" *ngIf="item.values[1]">{{ item.values[1] }}</p>
                    </div>
                    <div *ngIf="item.type == 'bigtext' && (item.values.length <= 0 || item.values.length > 2)">
                        <p class="desc">YOU MUST SET 1 VALUE TO 2 VALUES! (first: title, second: description)</p>
                    </div>
                    <div *ngIf="item.type == 'edition'">
                        <div class="select">
                            <div [ngClass]="{option: true, active: item.selected?.includes(index), error: errmsg != ''}" *ngFor="let system of item.values;index as index" (click)="item.selected = [index];errmsg = ''">{{ item.values[index] }}</div>
                        </div>
                    </div>
                    <div *ngIf="item.type == 'installationType'">
                        <div class="items">
                            <div *ngFor="let option of item.values;index as index" [ngClass]="{item: true, active: item.selected?.includes(index), error: errmsg != ''}" (click)="item.selected = [index];errmsg = ''">
                                <div class="icon">
                                    <i [ngClass]="option?.icon"></i>
                                </div>
                                <div class="right">
                                    <p class="item-title">{{ option.title }}</p>
                                    <p class="item-desc">{{ option.description }}</p>        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="item.type == 'progress'">
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{width: item.values[0] + '%'}"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="errmsg">
                    <p>{{ errmsg }}</p>
                </div>
            </section>
            <div class="actions">
                <div [ngClass]="{exit: true, disabled: sections[active].disableExit == true}" (click)="exitInstall()"><i class="fa-solid fa-xmark"></i></div>
                <div class="buttons">
                    <div *ngIf="sections[active].buttons?.prev?.hidden != true" [ngClass]="{prev: true, active: sections[active - 1], disabled: sections[active].buttons?.prev?.allowed || false}" (click)="go(active - 1)">{{ (sections[active].buttons?.prev?.text) ? sections[active].buttons?.prev?.text : 'Prev' }}</div>
                    <div *ngIf="sections[active].buttons?.next?.hidden != true" [ngClass]="{next: true, active: true, disabled: sections[active].buttons?.next?.allowed == false || errmsg != '' || false}" (click)="go(active + 1)">{{ (sections[active + 1]) ? (sections[active].buttons?.next?.text) ? sections[active].buttons?.next?.text : 'Next' : 'Done'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>