<div class="screen" [ngStyle]="{backgroundImage: 'url(' + '/assets/nvos/default-bg.jpg' + ')'}">
    <div class="desktop">
        <div [ngClass]="{item: true, empty: item.app == ''}" *ngFor="let item of items;index as index" (dblclick)="ApplicationManager.runProcess(item.app)">
            <img *ngIf="item.app != ''" src="/assets/nvos/apps/{{ item.app }}.png" alt="" draggable="false" />
            
            <span *ngIf="appsConfig?.[item.app]?.name">{{ appsConfig[item.app].name }}</span>
            <span *ngIf="!appsConfig?.[item.app]?.name && item.app">{{ item.app }}</span>
        </div>
        <div class="windows">
            <div *ngFor="let process of ApplicationManager.processes;index as processIndex">
                <div [ngClass]="{window: !window.disabled, maximaze: window.maximazed, minimaze: window.minimazed, hidden: window.hidden}" *ngFor="let window of process.windows;index as index;" [ngStyle]="{width: window.width + 'px', height: window.height + 'px', borderRadius: window.borderRadius + 'px'}" (click)="ApplicationManager.addMainProcess(processIndex, index)" [attr.index]="getZIndex(process.name, index)">
                    <div class="window-header" (mousedown)="window.move($event)">
                        <div class="title">{{ window.title }}</div>
                        <div class="buttons">
                            <div class="btn close" *ngIf="window.buttons.close" (click)="process.closeProcess()"><i class="fa-solid fa-xmark"></i></div>
                            <div class="btn maximilaze" *ngIf="window.buttons.maximize" (click)="window.maximaze()"><i class="fa-regular fa-window-maximize"></i></div>
                            <div class="btn minimilaze" *ngIf="window.buttons.minimize" (click)="window.minimaze()"><i class="fa-regular fa-window-minimize"></i></div>
                        </div>
                    </div>
                    <div class="window-body">
                        <ng-component *ngIf="(window.loaded && window.component) || window.loader" [ngComponentOutlet]="(window.loaded) ? window.component : window.loader"></ng-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="taskbar">
        <div class="left">
            <div class="item">
                <i class="fa-regular fa-table-cells-large"></i>
            </div>
            <div class="item search">
                <input type="text" name="search" id="search" placeholder="Type here to search anything">
                <i class="fa-regular fa-magnifying-glass"></i>
            </div>
            <div class="item">
                <i class="fa-regular fa-browsers"></i>
            </div>
            <div [ngClass]="{item: true, app: true, disabled: process.disabled == true}" *ngFor="let process of ApplicationManager.processes" (click)="(process.windows.length > 1) ? '' : process.windows[0].minimaze()" >
                <img src="/assets/nvos/apps/{{ process.name }}.png" alt="">
            </div>
        </div>
        <div class="right">{{ time.hours }}:{{ time.minutes }}:{{ time.seconds }}</div>
    </div>
</div>