.screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}


.loader {
  width: 96px;
  height: 96px;
  border-radius: 999rem;
  border: 8px solid #323232;
  border-top-color: #2999ed;
  animation: spin 1.5s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}