<div class="screen">
    <div class="navbar" *ngIf="!(Bios.biosScreenType == 'flash')">
        <div class="left">
            <div class="header">
                <h1>NVBios</h1>
            </div>
            <ul class="items">
                <li *ngFor="let li of Bios.BiosPages;index as index" [ngClass]="{active: Bios.BiosPage == index}" (click)="Bios.moveTo(index)">{{ li }}</li>
            </ul>
        </div>
        <div class="right">
            <div class="column">
                <p>Version: {{ Bios.Version }}</p>
                <p [innerHTML]="Bios.variables['description']"></p>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="Bios.biosScreenType == 'main'">
        <div class="left">
            <section [ngClass]="{movingLeft: Bios.animation == 'left', movingRight: Bios.animation == 'right'}">
                <h1>{{ Bios.BiosOptions[Bios.BiosPage].title }}</h1>
                <div [ngClass]="{item: true, readonly: item.readonly || false, selected: index == Bios.selected_item}" *ngFor="let item of Bios.BiosOptions[Bios.BiosPage].items;index as index" (click)="Bios.selectItem(index)" (dblclick)="runKeyboard('Enter')">
                    <div class="title">
                        <span>{{ item.text }}</span>
                    </div>
                    <div class="value selector" *ngIf="item.type == 'select' && item.data?.selected">
                        <div *ngFor="let option of item.data?.values;index as index" [ngClass]="{option: true, selected: item.data.selected?.[0] == index}" >{{ option }}</div>
                    </div>
                    <div class="value inputor" *ngIf="item.type == 'input' && item.data?.options">
                        <div *ngFor="let option of item.data?.options;index as index">{{ item.data.values[index] }}<span *ngIf="index < item.data.values.length - 1">{{ item.data.seperator }}</span></div>
                    </div>
                    <div class="value info" *ngIf="item.type == 'info' && item.data?.values">
                        <div *ngFor="let info of item.data?.values">{{ info }}</div>
                    </div>
                    <div class="value empty" *ngIf="item.type == 'empty'">
                    </div>
                </div>
            </section>
        </div>
        <div class="right">
            <div class="description">
                <span *ngIf="Bios.BiosOptions[Bios.BiosPage].items[Bios.selected_item]?.description && Bios.animation == null" [innerHTML]="Bios.BiosOptions[Bios.BiosPage].items[Bios.selected_item].description"></span>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="BiosFlash.status == true && Bios.biosScreenType == 'flash'">
        
        <h1>{{ BiosFlash.title }}</h1>
    </div>
</div>
<div class="modal" *ngIf="Bios.editing_item != null && Bios.BiosOptions[Bios.BiosPage].items[Bios.editing_item].type == 'select'">
    <div *ngFor="let item of Bios.BiosOptions[Bios.BiosPage].items[Bios.editing_item].data?.values;index as index" [ngClass]="{active: index == Bios.modal_item}">{{ item }}</div>
</div>