main
{
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}

.sidebar
{
    height: inherit;
    max-height: 100%;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    background-color: hsla(0, 0%, 0%, .25);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #484848 transparent;
}

.sidebar ul
{
    list-style-type: none;
    padding: 0;
}

.sidebar ul label
{
    display: block;
    color: rgb(210, 215, 215);
    margin: 1rem 16px 0.5rem;
}

.sidebar ul li
{
    padding: 8px 16px;
    margin: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar ul li i {
    margin-right: 4px;
}

.sidebar ul li:hover { background-color: hsla(217,7.6%,33.5%,0.16) }
.sidebar ul li.active { background-color: #2999ed;color: #fff; }
.sidebar ul li.active:hover { background-color: #1f7bc1;color: #fff; }


.content
{
    padding: 2rem;
    width: calc(100% - 250px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #484848 transparent;
}

.content > div
{
    display: none;
    pointer-events: none;
}
.content > div.active
{
    display: unset;
    pointer-events: all;
}

