<main>
    <div class="sidebar">
        <ul>
            <label>Systém</label>
            <li [ngClass]="{active: active == 0}" (click)="active = 0">
                <i class="fa-regular fa-display"></i>
                Obrazovka
            </li>
            <li [ngClass]="{active: active == 1}" (click)="active = 1">
                <i class="fa-solid fa-paintbrush-fine"></i>
                Vzhled
            </li>
            <li [ngClass]="{active: active == 2}" (click)="active = 2">
                <i class="fa-solid fa-volume"></i>
                Zvuk
            </li>
            <li [ngClass]="{active: active == 3}" (click)="active = 3">
                <i class="fa-solid fa-bell"></i>
                Oznámení
            </li>
            <li [ngClass]="{active: active == 4}" (click)="active = 4">
                <i class="fa-solid fa-hard-drive"></i>
                Uložiště
            </li>
            <li [ngClass]="{active: active == 5}" (click)="active = 5">
                <i class="fa-solid fa-users"></i>
                Uživatelé
            </li>
            <li [ngClass]="{active: active == 6}" (click)="active = 6">
                <i class="fa-solid fa-language"></i>
                Jazyk
            </li>
            <li [ngClass]="{active: active == 7}" (click)="active = 7">
                <i class="fa-solid fa-shield-halved"></i>
                Aktualizace systému
            </li>
            <li [ngClass]="{active: active == 8}" (click)="active = 8">
                <i class="fa-solid fa-planet-moon"></i>
                O systému
            </li>
            <label>Dev mode</label>
            <li [ngClass]="{active: active == 9}" (click)="active = 9">
                <i class="fa-solid fa-hippo"></i>
                Ovládací okno
            </li>
            <li [ngClass]="{active: active == 10}" (click)="active = 10">
                <i class="fa-solid fa-cloud-arrow-down"></i>
                Správa systému
            </li>
            <li [ngClass]="{active: active == 11}" (click)="active = 11">
                <i class="fa-brands fa-github"></i>
                Zdrojový kód systému
            </li>
        </ul>
    </div>
    <div class="content">
        <section *ngIf="active == 0">
            <h1>Obrazovka</h1>
            <div class="row">
                <div class="display screen" [ngStyle]="{backgroundImage: 'url(' + '/assets/nvos/default-bg.jpg' + ')'}">
                    <div class="info">{{ screenInfo.width + " x " + screenInfo.height }}</div>
                </div>
            
                <div class="backgrounds">
                </div>
            
            </div>
            
            <hr color="#212121">
        </section>
        <section *ngIf="active == 1">
            <h1>Vzhled</h1>
            <div class="row">
                <div class="theme" [class.active]="device.theme == 'dark'" (click)="device.theme = 'dark'">
                    <div class="title">Tmavý režim
                        <div class="active" [hidden]="device.theme == 'dark'"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg> Aktivováno</div>
                    </div>
                    <div class="window dark">
                    </div>
                    <div class="info">
                        <p>Kliknutím vybereš motiv</p>
                    </div>
                </div>
            
                <div class="theme" [class.active]="device.theme == 'light'" (click)="device.theme = 'light'">
                    <div class="title">Světlý režim
                        <div class="active" [hidden]="device.theme == 'light'"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg> Aktivováno</div>
                    </div>
                    <div class="window light">
                    </div>
                    <div class="info">
                        <p>Kliknutím vybereš motiv</p>
                    </div>
                </div>
            </div>
        </section>
        <section *ngIf="active == 3">
            <h1>Oznámení</h1>
            <p *ngIf="!Processes.list.includes('NetworkNotifications')">Nepodařilo se načíst proces Správa oznámení. Je nám líto, že máte tyto potíže :(</p>
            <hr color="#212121">
        </section>
        <section *ngIf="active == 5">
            <h1>Uživatelé</h1>
            <div *ngFor="let user of device.getUsers()">
                {{ user }}
            </div>
        </section>
        <section *ngIf="active == 10">
            <h1>
                TEPRVE VE PŘÍPRAVĚ!
            </h1>
            <h1 style="opacity: .6">Správa systému</h1>
            <p>Klikněte pro stáhnutí souboru systému.</p>
            <p class="title">Nahravejte data systému ze souboru:</p>
        </section>
        <section *ngIf="active == 11">
            <h1>Zdrojový kód systému</h1>
            <a href="https://github.com/MasT3r1k/NetworkOS" target="_blank">Kliknutím na tento text otevřete v dalším okně zdrojový kód, celého systému, včetně BIOS a GRUB.</a>
        </section>
    </div>
</main>
