<main>
    <div class="sidebar">
        <ul>
            <div *ngFor="let section of Settings.sidebar">
                <label>{{ section.display }}</label>
                <li *ngFor="let item of section.items" [ngClass]="{active: Settings.activePage == item}" (click)="Settings.activePage = item" id="{{ Settings.itemInfo(item).id }}">
                    <i [ngClass]="item.icon"></i>
                    {{ item.text }}
                </li>
            </div>
        </ul>
    </div>
    <div class="content">
        <section>
            <ng-component *ngIf="Settings.activePage?.component" [ngComponentOutlet]="Settings.activePage.component"></ng-component>
        </section>
    </div>
</main>
